
.button{
    &:hover{
        .btnJoin{
            background: $color-yellow-0;  
        }
    }
    .btnJoin{
      @extend %button;
    }
}

.button__banner{
    &:hover{
        .btnHang{
            background: $color-white-0;  
            color: $color-black-4;
        }
    }
    .btnHang{
        @extend %button;
        background-color: $color-yellow-0;
        color: $color-white-0;
        margin-top: $mg-4;
        @include reponsiveMax("medium"){
            font-size: $fs-2;
        }
    }
}